@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--yankeesblue: #22303f;
	--platinum: #e7e8e7;
	--darkskyblue: #8fbfda;
	--bdazzledblue: #2c6485;
	--charcoal: #394a56;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--charcoal);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
.svgColor {
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
		hue-rotate(289deg) brightness(105%) contrast(101%);
}
.svgHover {
	filter: brightness(0) saturate(100%) invert(37%) sepia(10%) saturate(2467%)
		hue-rotate(159deg) brightness(93%) contrast(97%);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
